#!/bin/bash
# Locations
export PACKS_HOME=/home/user/dev/products
export PUPPET_HOME=/home/user/dev/puppet
export PUPPET_MODULES_HOME=/home/user/dev/wso2/puppet-modules
export KUBERNETES_HOME=/home/user/dev/wso2/kubernetes-artifacts
export DOCKERFILES_HOME=/home/user/dev/wso2/dockerfiles
export MESOS_HOME=/home/user/dev/wso2/mesos-artifacts

# versions
export PUPPET_MODULES_VERSION="latest"
export KUBERNETES_VERSION="1.0.0"
export DOCKERFILES_VERSION="1.1.0"
export MESOS_VERSION="latest"

# Other common environment variables
export KUBERNETES_MASTER=http://172.17.8.101:8080
